@main("HWHelp") {
    
    <div id='container'>
		<header>
			<div id="title-slogan">
				<h1 id="main-title">HWHelp</h1>
				<p class="italics" id="slogan">
					Almost cheating <span class="normal red">:)</span>
				</p>
			</div>
			<ul id="nav">
				<li id="nav_home"><a href="/">Home</a></li>
				<!--<li id="nav_support"><a href="/support">Support</a></li>-->
				<li id="nav_about"><a href="/about">About</a></li>
			</ul>
		</header>
		<div id='main'>
			<div class="white-background static-page">
				<div class="question-div">
					<h3 class="static">What is it?</h3>
					<p class="indent">HWHelp was built to help students to solve math and science problems. However the only tool currently offered is the matrix calculator & temperature converter, but more may come in the future...</p>
					<h3 class="static">Who built it?</h3>
					<p>My name is Akash Melethil; I am the founder of SkyArc Studios. I built this during my spare time, while I am not at university or building other stuff.</p>
					<h3 class="static">How was it built?</h3>
					<p>The front-end is built using HTML,CSS and Javascript, the backend is built using java. Some of the technologies used in building this site includes <a href="http://emberjs.com/">Ember.js</a>, <a href="http://www.playframework.org/">Play Framework</a>, <a href="http://www.mathjax.org/">MathJax</a> and some others that I am forgetting to mention right now. If you have any specific questions, you are welcome to send me an email.</p>
				</div><!--END CLASS QUESTION DIV-->
			</div><!--END CALSS INDEX-->
		</div><!--END MAIN-->
		<footer>
			<p>Copyright &copy; 2013 SkyArc Studios. All rights reserved.</p>
		</footer>
	</div><!--END CONTAINER-->
    
}