@main("HWHelp") {
    
    <div id='container'>
		<header>
			<div id="title-slogan">
				<h1 id="main-title">HWHelp</h1>
				<p class="italics" id="slogan">
					Almost cheating <span class="normal red">:)</span>
				</p>
			</div>
			<ul id="nav">
				<li id="nav_home"><a href="/">Home</a></li>
				<!--<li id="nav_support"><a href="/support">Support</a></li>-->
				<li id="nav_about"><a href="/about">About</a></li>
			</ul>
		</header>
		<div id='main'>
			<div class="white-background static-page">
				<div class="question-div">
					<p>Welcome to HWHelp. Click on the matrix calculator app below to help you fulfil your linear algebra needs.</p>
				</div><!--END QUESTION DIV-->
			</div><!--END CALSS INDEX-->
			<div id="topics">
				<div class="topics-div">
					<h2>Math</h2>
					<ul>
						<li><a href="matrix-calculator">Matrix Calculator</a></li>
					</ul>
				</div>
				<div class="topics-div">
					<h2>Chemistry</h2>
					<ul>
						<li><a href="temperature-converter">Temperature Converter</a></li>
					</ul>
				</div>
				<!--
				<div class="topics-div">
					<h2>Chemistry</h2>
					<ul>
						<li><a>Molar Mass Calculator</a></li>
					</ul>
				</div>-->
			</div><!--END TOPICS-->
		</div><!--END MAIN-->
		<footer>
			<p>Copyright &copy; 2013 SkyArc Studios. All rights reserved.</p>
		</footer>
	</div><!--END CONTAINER-->
    
}