@main("HWHelp") {
    
    <div id='container'>
		<header>
			<div id="title-slogan">
				<h1 id="main-title">HWHelp</h1>
				<p class="italics" id="slogan">
					Almost cheating <span class="normal red">:)</span>
				</p>
			</div>
			<ul id="nav">
				<li id="nav_home"><a href="/">Home</a></li>
				<!--<li id="nav_support"><a href="/support">Support</a></li>-->
				<li id="nav_about"><a href="/about">About</a></li>
			</ul>
		</header>
		<div id='main'>
			<div class="white-background static-page">
				<div class="question-div">
					<p>Although, every effort has been made to make HWHelp work with all of the major browsers, there is no guarantee is made it will work on every bowser or that it will work every time. If you have any <b>questions</b>, <b>concerns</b> or <b>suggestions</b>, then please send me and email at akash.melethil@@skyarcstudios.com.</p>
				</div><!--END CLASS QUESTION DIV-->
			</div><!--END CALSS INDEX-->
		</div><!--END MAIN-->
		<footer>
			<p>Copyright &copy; 2013 SkyArc Studios. All rights reserved.</p>
		</footer>
	</div><!--END CONTAINER-->
    
}